tr {
    border: 2px solid #000000;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    /*border-radius: 10px;*/
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    width: 100%;
}

th {
    background: lightslategrey;
    color: black;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    border-collapse: collapse;
    border-spacing: 5px;
}

th, td {
    border-spacing: 5px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #000000;
}

td {
    padding: 10px 20px;
    background: white;
}

.entry {
    position: absolute;
    left: 700px;
    top: 200px;
}

.entrybutton {
    position: absolute;
    left: 800px;
    top: 380px;
}

.button:hover {
    background: lightgrey;
}


.button {
    width: 110px;
    height: 25px;
    background: white;
    color: black;
    font-size: 18px;
    cursor: pointer;
}


body {
    background-image: url(https://million-wallpapers.ru/wallpapers/3/2/434458675316736/vysokij-fon.jpg);
}

h1 {
    color: red;
}